header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
}

.menu {
  position: relative;
  background-color: var(--gray-300);
  padding: 0.8rem;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  gap: 10rem;
}

.menu img {
  width: 3.6rem;
}

.menu ul {
  font-family: var(--f-subtitle);
  display: flex;
  flex-wrap: wrap;
}

.menu ul li a {
  display: block;
  padding: 1rem;
  margin-right: 10px;
  color: var(--gray-600);
  text-decoration: none;
  font-family: var(--f-subtitle);
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.2em;
}

.menu li {
  position: relative;
  padding: 0rem 0;
}

.menu li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--gray-600);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.menu li:hover::after {
  transform: scaleX(0.85);
  transform-origin: bottom left;
}

[data-menu="button"] {
  display: none;
}

@media (max-width: 768px) {
  [data-menu="button"] {
    display: flex;
    background: #222;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    align-items: center;
    position: relative;
    z-index: 300;
  }

  [data-menu="button"]::before {
    content: "";
    margin-right: 1rem;
    display: inline-block;
    height: 2px;
    width: 12px;
    background: #fff;
    box-shadow: 0 4px #fff, 0 -4px #fff;
    transition: transform 0.3s;
  }

  [data-menu="button"].active::before {
    transform: rotate(90deg);
  }

  nav.menu ul[data-menu="list"] {
    display: none;
    position: absolute;
    background-color: var(--gray-300);
    border-radius: .4rem;
    z-index: 200;
    width: 16rem;
    top: 0;
    right: 0;
    padding: 60px 0 20px 0;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  }

  nav.menu ul[data-menu="list"].active {
    display: block;
    animation: show-down .5s forwards;
  }
}
